/* Typography */
html {
  font-size: 62.5%;
}
body {
  font-family: var(--ff-open-sans);
  line-height: 1.5;
  font-size: 1.8rem;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --color-pink: hsl(322, 100%, 66%);
  --very-pale-cyan: hsl(193, 100%, 96%);
  --very-dark-cyan: hsl(192, 100%, 9%);
  --grayish-blue: hsl(208, 11%, 55%);

  --ff-open-sans: "Open Sans", sans-serif;
  --ff-poppins: "Poppins", sans-serif;
}
h1,
h2 {
  font-family: var(--ff-poppins);
  font-weight: 600;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.8rem;
}
h3 {
  font-size: 1.7rem;
}
p {
  color: var(--grayish-blue);
}
img {
  width: 100%;
}
/* Lists */
ul,
li {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
/* Background Images */
.bacground {
  position: absolute;
  z-index: -1;
}
/* Header */
header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.logo {
  width: 12rem;
  height: 2.1rem;
}
/* Hero Section */
.hero {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
  padding: 1rem;
  text-align: center;
}
.hero__text {
  color: black;
  margin-bottom: 3rem;
}
.hero__image {
  margin-top: 4rem;
}
/* Sections */
section {
  text-align: center;
  margin-bottom: 5rem;
  padding: 1rem;
}
.section--one {
  padding: 2.3rem;
  border-radius: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.section--two {
  padding: 2.3rem;
  border-radius: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.section--three {
  padding: 2.3rem;
  border-radius: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
/* Callout Card */
.callout-card {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  color: black;
  margin: 2rem;
  padding: 1rem;
  position: absolute;
  text-align: center;
  top: -23%;
  width: 90%;
}
.callout-card > .btn {
  font-size: 1.1rem;
}
/* Buttons */
.btn {
  border-radius: 30px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  outline: none;
  white-space: nowrap;
}
.btn--primary {
  background-color: var(--color-pink);
  color: #fff;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  padding: 1.5rem 3.5rem;
  width: 80%;
}
.btn--primary:hover {
  background-color: hsl(322, 72%, 72%);
}
.btn--small {
  font-size: 1.2rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  background-color: #fff;
  padding: 0.7rem 2.2rem;
}
.btn--small:hover {
  color: var(--grayish-blue);
}
/* Footer */
footer {
  position: relative;
  background-color: var(--very-dark-cyan);
  color: var(--very-pale-cyan);
  margin-top: 30rem;
}
.footer-logo {
  margin-top: 14rem;
  width: 18rem;
}
.contact__image {
  width: 1.5rem;
}
.attribution {
  font-size: 1.3rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
